<body text="#000000" link="#0000ff" bgcolor="#ffffff"><center><table width="80%">
<tr><td><h1>omp-dialog</h1>
<h2>Dialog-based OMP tool for OpenVAS</h2>


  <h2>Synopsis</h2>
<b>
    omp-dialog OPTIONS<br>

  </b>


  <h2>Description</h2>

    <p>
      omp-dialog is a menu-driven client interface for OMP (OpenVAS
      Management Protocol). It is using the &quot;dialog&quot; tool to build the
      graphical interface in your terminal.
    </p>
  


  <h2>Options</h2>

    
      <p><b>-h, --host=<em>HOST</em></b></p>
      <p>Connect to OpenVAS Manager on host HOST.</p>
    

    
      <p><b>-p, --port=<em>PORT</em></b></p>
      <p>Connect to OpenVAS Manager on port PORT.</p>
    

    
      <p><b>-u, --username=<em>USER</em></b></p>
      
        <p>Use the username USER to access the OpenVAS Manager.</p>
      
    

    
      <p><b>-w, --password=<em>PASSWORD</em></b></p>
      
        <p>
          Use the password PASSWORD to access the OpenVAS Manager. If
          the password is not set as parameter, it will be requested
          interactively.
        </p>
      
    

    
      <p><b>-c, --configfile=<em>FILE</em></b></p>
      
        <p>oad connection configuration from file FILE.
        The default file is ~/omp.config.</p>
      
    

    
      <p><b>-d, --debug</b></p>
      
        <p>Write Debug output to ./omp-dialog.log.</p>
      
    

    
      <p><b>-?, --help</b></p>
      
        <p>Show help.</p>
      
    
  

  <h2>EXAMPLES</h2>

    <p>omp-dialog</p>
    <p>
      Start the dialog interface with a login dialog, because no connection
      information were prodived and in case the default config file does
      no offer adequate information.
    </p>
  


  <h2>SEE ALSO</h2>

    <p>
      <b>openvasmd (8)</b>
      <b>omp (8)</b>
    </p>
  


  <h2>MORE INFORMATION ABOUT THE OpenVAS PROJECT</h2>

    <p>
      The canonical places where you will find more information
      about the OpenVAS project are:

      <a href = "http://www.openvas.org/">http://www.openvas.org/</a>
      (Official site)

      <a href = "http://wald.intevation.org/projects/openvas/">http://wald.intevation.org/projects/openvas/</a>
      (Development Platform)
    </p>
  


  <h2>COPYRIGHT</h2>

    <p>
      The omp-dialog command line client is released under the GNU GPL,
      version 2, or, at your option, any later version.
    </p>
  


</td></tr></table></center>
</body>
